[project]
name = "hamr"
version = "0.1.0"
description = "Hamr - A fast desktop launcher for Wayland compositors"
requires-python = ">=3.10"
dependencies = []

[dependency-groups]
dev = [
    "mike>=2.1.3",
    "mkdocs>=1.6.1",
    "mkdocs-material>=9.7.1",
    "pymdown-extensions>=10.20",
]
