:root > * {
  --md-primary-fg-color: #fe8700;
  --md-primary-fg-color--light: #fbc58c;
  --md-primary-fg-color--dark: #fc8a00;
  --md-accent-fg-color: #fbc58c;
}

[data-md-color-scheme="slate"] > * {
  --md-primary-fg-color: #fe8700;
  --md-primary-fg-color--light: #fbc58c;
  --md-primary-fg-color--dark: #fc8a00;
  --md-accent-fg-color: #fbc58c;
}

.md-header__button.md-logo img {
  height: 3rem;
  width: auto;
}
