:root,
[data-md-color-scheme="default"],
[data-md-color-scheme="slate"] {
  --md-primary-fg-color: #770792;
  --md-primary-fg-color--light: #8a0aa8;
  --md-primary-fg-color--dark: #5a0670;
  --md-accent-fg-color: #770792;
}

.md-header {
  background-color: #770792;
}

.md-tabs {
  background-color: #770792;
}
