pkgbase = hamr-git
	pkgdesc = A fast, extensible desktop launcher for Linux
	pkgver = 1.0.0-alpha
	pkgrel = 1
	url = https://hamr.run
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = rust
	makedepends = cargo
	makedepends = pkgconf
	depends = gtk4
	depends = gtk4-layer-shell
	depends = python
	optdepends = python-dbus: system dbus integration for plugins
	optdepends = python-gobject: GObject introspection for plugins
	provides = hamr
	conflicts = hamr
	source = hamr-git::git+https://github.com/Stewart86/hamr.git
	sha256sums = SKIP

pkgname = hamr-git
